In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt 

import datetime

In [2]:
london_yearly = pd.read_csv("Datasets/housing_in_london_yearly_variables.csv")
london_yearly["number_of_jobs"] = london_yearly["number_of_jobs"].fillna(0)
london_yearly["life_satisfaction"] = london_yearly["life_satisfaction"].fillna(0)
london_yearly["area_size"] = london_yearly["area_size"].fillna(0)
london_yearly["no_of_houses"] = london_yearly["no_of_houses"].fillna(0)

london_yearly['date'] = pd.to_datetime(london_yearly.date)
london_yearly = pd.DataFrame(london_yearly)
london_yearly.fillna(0)

del london_yearly["code"]
del london_yearly["recycling_pct"]
del london_yearly["borough_flag"]

london_yearly.head()

,area,date,median_salary,life_satisfaction,mean_salary,population_size,number_of_jobs,area_size,no_of_houses
0,city of london,1999-12-01,33020.0,0.0,48922,6581.0,0.0,0.0,0.0
1,barking and dagenham,1999-12-01,21480.0,0.0,23620,162444.0,0.0,0.0,0.0
2,barnet,1999-12-01,19568.0,0.0,23128,313469.0,0.0,0.0,0.0
3,bexley,1999-12-01,18621.0,0.0,21386,217458.0,0.0,0.0,0.0
4,brent,1999-12-01,18532.0,0.0,20911,260317.0,0.0,0.0,0.0

In [3]:
london_yearly.date.unique()

array(['1999-12-01T00:00:00.000000000', '2000-12-01T00:00:00.000000000',
       '2001-12-01T00:00:00.000000000', '2002-12-01T00:00:00.000000000',
       '2003-12-01T00:00:00.000000000', '2004-12-01T00:00:00.000000000',
       '2005-12-01T00:00:00.000000000', '2006-12-01T00:00:00.000000000',
       '2007-12-01T00:00:00.000000000', '2008-12-01T00:00:00.000000000',
       '2009-12-01T00:00:00.000000000', '2010-12-01T00:00:00.000000000',
       '2011-12-01T00:00:00.000000000', '2012-12-01T00:00:00.000000000',
       '2013-12-01T00:00:00.000000000', '2014-12-01T00:00:00.000000000',
       '2015-12-01T00:00:00.000000000', '2016-12-01T00:00:00.000000000',
       '2017-12-01T00:00:00.000000000', '2018-12-01T00:00:00.000000000',
       '2019-12-01T00:00:00.000000000'], dtype='datetime64[ns]')

In [4]:
london_yearly.life_satisfaction.unique()

array([0.  , 7.05, 7.43, 7.42, 7.11, 7.5 , 7.25, 7.04, 7.22, 7.23, 7.18,
       7.  , 7.38, 7.31, 7.35, 7.4 , 7.26, 7.09, 7.57, 7.33, 7.13, 7.14,
       7.12, 7.52, 7.36, 7.39, 7.02, 7.46, 7.44, 7.37, 7.47, 7.28, 7.51,
       7.53, 7.41, 7.6 , 7.24, 7.01, 7.15, 7.07, 7.21, 7.17, 7.7 , 7.08,
       7.3 , 7.32, 7.54, 7.55, 7.67, 7.34, 7.58, 7.49, 7.56, 7.73, 7.71,
       7.45, 7.62, 7.63, 7.65, 7.64, 7.66, 7.89, 7.68, 7.69, 7.29, 7.78,
       7.87, 7.74, 7.48, 7.85, 7.96, 7.61, 7.75, 7.59, 7.76, 7.88, 7.79,
       7.91, 7.72, 7.92, 7.84, 7.82, 7.77])

In [5]:
london_yearly.dtypes

area                         object
date                 datetime64[ns]
median_salary               float64
life_satisfaction           float64
mean_salary                  object
population_size             float64
number_of_jobs              float64
area_size                   float64
no_of_houses                float64
dtype: object

In [8]:
london_yearly.area.unique()

array(['city of london', 'barking and dagenham', 'barnet', 'bexley',
       'brent', 'bromley', 'camden', 'croydon', 'ealing', 'enfield',
       'greenwich', 'hackney', 'hammersmith and fulham', 'haringey',
       'harrow', 'havering', 'hillingdon', 'hounslow', 'islington',
       'kensington and chelsea', 'kingston upon thames', 'lambeth',
       'lewisham', 'merton', 'newham', 'redbridge',
       'richmond upon thames', 'southwark', 'sutton', 'tower hamlets',
       'waltham forest', 'wandsworth', 'westminster', 'north east',
       'north west', 'yorkshire and the humber', 'east midlands',
       'west midlands', 'east', 'london', 'south east', 'south west',
       'inner london', 'outer london', 'england', 'united kingdom',
       'great britain', 'england and wales', 'northern ireland',
       'scotland', 'wales'], dtype=object)

In [9]:
london_yearly.nunique()

area                   51
date                   21
median_salary        1017
life_satisfaction      83
mean_salary          1041
population_size      1017
number_of_jobs        505
area_size              38
no_of_houses          664
dtype: int64

In [18]:
leave_values = ["inner_london", "outer london"] #leave out these areas because of overlap and too many NaN values
london_yearly=london_yearly.applymap(lambda x: np.nan if x in leave_values else x)

In [17]:
#Comparing line graphs first
#Compare mean salaries over the years

london_yearly_salary = london_yearly.pivot(index = 'area', columns = 'date', values = 'median_salary')
london_yearly_salary

date,1999-12-01 00:00:00,2000-12-01 00:00:00,2001-12-01 00:00:00,2002-12-01 00:00:00,2003-12-01 00:00:00,2004-12-01 00:00:00,2005-12-01 00:00:00,2006-12-01 00:00:00,2007-12-01 00:00:00,2008-12-01 00:00:00,...,2010-12-01 00:00:00,2011-12-01 00:00:00,2012-12-01 00:00:00,2013-12-01 00:00:00,2014-12-01 00:00:00,2015-12-01 00:00:00,2016-12-01 00:00:00,2017-12-01 00:00:00,2018-12-01 00:00:00,2019-12-01 00:00:00
area,,,,,,,,,,,,,,,,,,,,,
NaN,NaN,NaN,NaN,NaN,NaN,25000.0,26176.0,26399.0,27478.0,28608.0,...,29182.0,29399.0,29382.0,30148.0,30000.0,30382.0,31018.0,31298.0,31031.0,NaN
barking and dagenham,21480.0,22618.0,22323.0,24813.0,25358.0,26089.0,26680.0,26549.0,30200.0,29396.0,...,28527.0,28201.0,33131.0,32248.0,32698.0,33018.0,30994.0,28553.0,29995.0,28738.0
barnet,19568.0,21761.0,20916.0,23112.0,23828.0,NaN,27033.0,26071.0,27436.0,27978.0,...,30000.0,30237.0,29594.0,29353.0,31162.0,30900.0,32623.0,32143.0,29927.0,31624.0
bexley,18621.0,19363.0,20217.0,21101.0,22247.0,20946.0,23936.0,24719.0,26457.0,28326.0,...,27738.0,28638.0,27440.0,28512.0,28505.0,29664.0,NaN,30733.0,NaN,31642.0
brent,18532.0,22348.0,21878.0,21350.0,23018.0,23323.0,24209.0,25279.0,25763.0,27326.0,...,25997.0,26772.0,27577.0,28034.0,29514.0,29987.0,30699.0,30134.0,30366.0,31739.0
bromley,16720.0,16401.0,15684.0,16635.0,19042.0,21192.0,24241.0,25715.0,25666.0,27236.0,...,27712.0,28163.0,28082.0,28126.0,27926.0,30444.0,30861.0,29819.0,30762.0,NaN
camden,23677.0,25484.0,27386.0,27432.0,30002.0,30510.0,31358.0,32418.0,33059.0,35314.0,...,36527.0,35967.0,36962.0,36336.0,36748.0,36970.0,37817.0,38147.0,39198.0,40196.0
city of london,33020.0,34903.0,39104.0,39750.0,41795.0,43347.0,45000.0,46292.0,49955.0,50503.0,...,52271.0,54381.0,54000.0,54202.0,54710.0,54034.0,55487.0,56295.0,61203.0,61636.0
croydon,19563.0,21339.0,20889.0,22675.0,22838.0,24371.0,24652.0,26049.0,25965.0,27482.0,...,28586.0,28979.0,28974.0,30939.0,31154.0,30628.0,31479.0,32109.0,33804.0,35237.0
ealing,20580.0,22512.0,23862.0,24542.0,24349.0,26722.0,27235.0,26354.0,27490.0,29439.0,...,28732.0,28646.0,31104.0,29733.0,28825.0,28657.0,29241.0,30259.0,29928.0,31021.0
east,18000.0,19020.0,19978.0,20495.0,21511.0,22242.0,22883.0,23517.0,24061.0,24949.0,...,25379.0,25953.0,26145.0,26514.0,26817.0,27300.0,27892.0,28456.0,29153.0,30345.0
east midlands,16392.0,17352.0,18291.0,19125.0,19847.0,20691.0,21494.0,21946.0,22222.0,23271.0,...,24118.0,24002.0,24626.0,24918.0,25000.0,25003.0,25474.0,25882.0,26711.0,28000.0
enfield,19289.0,22467.0,24136.0,24654.0,22463.0,27414.0,24594.0,25088.0,26325.0,25550.0,...,26967.0,26412.0,27123.0,25805.0,25805.0,26230.0,28918.0,29134.0,29238.0,28258.0
england,17939.0,19107.0,19997.0,20706.0,21500.0,22418.0,23280.0,23729.0,24480.0,25549.0,...,26265.0,26488.0,26822.0,27372.0,27485.0,27841.0,28496.0,29083.0,29856.0,30667.0
england and wales,17974.0,19000.0,19898.0,20562.0,21359.0,22284.0,23151.0,23564.0,24255.0,25373.0,...,26076.0,26290.0,26633.0,27169.0,27321.0,27680.0,28325.0,28939.0,29667.0,30500.0
great britain,17866.0,18915.0,19779.0,20435.0,21200.0,22103.0,22970.0,23444.0,24147.0,25277.0,...,26000.0,26206.0,26540.0,27105.0,27297.0,27682.0,28279.0,28869.0,29633.0,30446.0
greenwich,21236.0,22121.0,20761.0,21846.0,23600.0,25387.0,26330.0,27363.0,29319.0,30766.0,...,31821.0,29932.0,30097.0,29251.0,28954.0,30497.0,30180.0,32635.0,33163.0,33081.0
hackney,23249.0,24083.0,24095.0,24582.0,25149.0,26687.0,28923.0,30105.0,28996.0,31589.0,...,35149.0,33512.0,34803.0,33097.0,33116.0,31566.0,32404.0,33618.0,35286.0,35020.0
hammersmith and fulham,25000.0,25264.0,26319.0,28012.0,29831.0,29830.0,30787.0,30464.0,33535.0,NaN,...,35033.0,36143.0,35136.0,34554.0,33688.0,34652.0,35000.0,36972.0,40972.0,37990.0
haringey,18783.0,19772.0,20349.0,21972.0,22422.0,23481.0,24626.0,27020.0,26281.0,29859.0,...,29597.0,28032.0,29116.0,29609.0,30325.0,30072.0,29753.0,31442.0,29801.0,30452.0
harrow,20596.0,22238.0,22960.0,23176.0,22796.0,24750.0,26162.0,25575.0,26107.0,27627.0,...,27921.0,27540.0,26738.0,25784.0,26037.0,26770.0,30134.0,31255.0,30553.0,32809.0
havering,17165.0,17418.0,17940.0,16123.0,18250.0,18240.0,24296.0,26394.0,26079.0,28800.0,...,28235.0,28415.0,28326.0,29858.0,30003.0,30591.0,28906.0,29134.0,30181.0,32321.0
hillingdon,24002.0,25038.0,26051.0,26159.0,26774.0,28003.0,29351.0,28771.0,30290.0,31291.0,...,31586.0,33589.0,33822.0,35738.0,33984.0,32681.0,33093.0,33596.0,31886.0,35231.0
hounslow,20155.0,23230.0,22853.0,24399.0,26019.0,27457.0,29584.0,26853.0,27547.0,29475.0,...,31307.0,32759.0,31821.0,31173.0,33038.0,33717.0,36235.0,34119.0,35935.0,36487.0
inner london,NaN,NaN,NaN,NaN,NaN,31339.0,32230.0,33333.0,34415.0,35774.0,...,37463.0,37851.0,38225.0,38274.0,38229.0,38803.0,39653.0,40675.0,42153.0,NaN
islington,25113.0,26598.0,28323.0,33497.0,33579.0,30410.0,30499.0,33995.0,34779.0,36357.0,...,34551.0,35996.0,36653.0,37325.0,36751.0,36679.0,39894.0,39348.0,40000.0,41076.0
kensington and chelsea,20646.0,22952.0,24979.0,26649.0,26213.0,26846.0,26855.0,26619.0,28355.0,30217.0,...,30196.0,31491.0,30726.0,31307.0,30002.0,31524.0,30008.0,31678.0,32976.0,33000.0
kingston upon thames,19302.0,20983.0,21427.0,22575.0,23813.0,23708.0,24937.0,25640.0,27274.0,26583.0,...,28240.0,28997.0,29067.0,29450.0,30768.0,28635.0,30729.0,31308.0,NaN,32138.0
lambeth,23151.0,24264.0,24019.0,24952.0,26034.0,27186.0,28347.0,29930.0,30633.0,30566.0,...,33821.0,34836.0,35280.0,35397.0,34491.0,34852.0,34670.0,35036.0,36200.0,36825.0
lewisham,20580.0,22357.0,21990.0,23254.0,22069.0,25238.0,28022.0,27021.0,27673.0,29403.0,...,30806.0,29567.0,29995.0,30478.0,29983.0,30932.0,32217.0,33294.0,29966.0,32334.0
london,22487.0,24204.0,25215.0,26467.0,27455.0,28750.0,29882.0,30355.0,31484.0,32813.0,...,33990.0,34396.0,34883.0,35173.0,35034.0,35303.0,36170.0,37171.0,38146.0,38992.0
merton,18962.0,18906.0,21014.0,22429.0,22959.0,23208.0,25991.0,24883.0,26346.0,28363.0,...,27441.0,28066.0,28613.0,28610.0,27539.0,30040.0,28224.0,29627.0,31182.0,31699.0
newham,18862.0,19437.0,21054.0,21420.0,22792.0,NaN,26331.0,27162.0,27434.0,29467.0,...,32578.0,29998.0,30540.0,29334.0,29061.0,28886.0,30743.0,30770.0,30392.0,33944.0
north east,16282.0,17430.0,17844.0,18076.0,18228.0,19247.0,20263.0,20613.0,21076.0,21931.0,...,23124.0,23250.0,23781.0,24113.0,24904.0,25347.0,25561.0,25904.0,26355.0,27187.0
north west,16977.0,17863.0,18567.0,19234.0,19916.0,20717.0,21777.0,22000.0,22889.0,23740.0,...,24127.0,24167.0,24603.0,25111.0,25262.0,25667.0,26220.0,26754.0,27376.0,28137.0
northern ireland,15798.0,16599.0,17529.0,18325.0,18502.0,19622.0,20060.0,20739.0,20934.0,22122.0,...,22394.0,23034.0,23944.0,23952.0,24491.0,25719.0,25978.0,25935.0,27101.0,27434.0
redbridge,19580.0,20256.0,21106.0,22133.0,23407.0,NaN,26462.0,27940.0,29429.0,29283.0,...,30086.0,29829.0,28100.0,31215.0,31127.0,29098.0,28237.0,29189.0,NaN,29108.0
richmond upon thames,22321.0,22574.0,23799.0,23311.0,25549.0,26770.0,26809.0,28610.0,30881.0,32437.0,...,32249.0,32197.0,31505.0,31997.0,31533.0,32660.0,33329.0,32141.0,34027.0,35191.0
scotland,16914.0,18029.0,18610.0,19167.0,19799.0,20598.0,21312.0,22373.0,23098.0,24105.0,...,25205.0,25291.0,25780.0,26489.0,27038.0,27687.0,27925.0,28335.0,29289.0,30000.0
south east,18737.0,19992.0,20907.0,21940.0,22843.0,23748.0,24229.0,24798.0,25583.0,26778.0,...,27503.0,27881.0,28175.0,28315.0,28607.0,29031.0,29700.0,30236.0,30849.0,32120.0
south west,16727.0,17847.0,18465.0,19233.0,20000.0,20694.0,21279.0,21815.0,22665.0,23648.0,...,24098.0,24306.0,24581.0,25242.0,25585.0,25950.0,26372.0,27119.0,27956.0,28654.0
southwark,22784.0,24857.0,27114.0,28062.0,29307.0,29609.0,29534.0,31575.0,32000.0,31227.0,...,35050.0,36124.0,36056.0,36198.0,34612.0,36238.0,37159.0,37601.0,39998.0,40303.0
sutton,19582.0,22019.0,22972.0,23311.0,24455.0,24514.0,25714.0,25102.0,25182.0,26082.0,...,26288.0,26743.0,25247.0,30061.0,25797.0,27355.0,28318.0,27945.0,28853.0,32947.0
tower hamlets,26376.0,28445.0,31232.0,31168.0,34281.0,39128.0,39493.0,38975.0,41117.0,41880.0,...,44443.0,45970.0,44880.0,46441.0,48309.0,46681.0,45975.0,49369.0,49237.0,46142.0
united kingdom,17803.0,18848.0,19722.0,20376.0,21124.0,22056.0,22888.0,23367.0,24043.0,25165.0,...,25882.0,26095.0,26472.0,27011.0,27215.0,27615.0,28195.0,28759.0,29559.0,30353.0
wales,16457.0,17157.0,18018.0,18189.0,19130.0,20085.0,20634.0,20790.0,21105.0,21830.0,...,23178.0,23397.0,23617.0,24103.0,24453.0,24869.0,25440.0,26026.0,26353.0,27500.0
waltham forest,18547.0,19776.0,21245.0,21799.0,22918.0,23857.0,21931.0,23074.0,25034.0,26609.0,...,27755.0,28005.0,27235.0,NaN,26484.0,29352.0,27455.0,28284.0,30298.0,30718.0
wandsworth,21321.0,22840.0,22054.0,23720.0,24299.0,26137.0,26549.0,27405.0,30513.0,30808.0,...,31818.0,32033.0,31262.0,31491.0,31085.0,31968.0,33405.0,33137.0,34501.0,34168.0
west midlands,17000.0,17812.0,18756.0,19225.0,19786.0,20765.0,21447.0,22000.0,22543.0,23849.0,...,23831.0,24291.0,24573.0,25328.0,24963.0,25682.0,26352.0,26837.0,27682.0,28536.0
westminster,24447.0,25951.0,26829.0,28879.0,29254.0,31482.0,32519.0,33474.0,35315.0,36048.0,...,37836.0,37406.0,37649.0,36946.0,37260.0,39392.0,40000.0,42152.0,43015.0,43556.0
yorkshire and the humber,16527.0,17503.0,18270.0,18863.0,19659.0,20433.0,21506.0,21674.0,22307.0,23357.0,...,23856.0,24119.0,24288.0,24933.0,24999.0,25194.0,25946.0,26309.0,26892.0,27835.0

In [ ]:
#Machine learning fill NaN values