In [1]:
# Importing the libraries
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

import seaborn as sns

In [2]:
# Importing the dataset
df = pd.read_csv('Datasets/AB_NYC_2019.csv')

#Drop unnecesary columns
drop_cols= ['host_id','last_review','host_name','latitude','longitude','calculated_host_listings_count']

df = df.drop(drop_cols, axis=1)
df = df.rename(columns={"id": "ID",
                                  "name": "Name",
                                  "neighbourhood_group": "Borough",
                                  "neighbourhood": "Neighborhood",
                                  "room_type": "Room_Type",
                                  "price": "Price",
                                  "minimum_nights": "Minimum_Nights",
                                  "number_of_reviews":"Num_of_Reviews",
                                  "reviews_per_month": "Reviews_per_Month",
                                  "availability_365": "Days_Available_A_Year"})


df

,ID,Name,Borough,Neighborhood,Room_Type,Price,Minimum_Nights,Num_of_Reviews,Reviews_per_Month,Days_Available_A_Year
0,2539,Clean & quiet apt home by the park,Brooklyn,Kensington,Private room,149,1,9,0.21,365
1,2595,Skylit Midtown Castle,Manhattan,Midtown,Entire home/apt,225,1,45,0.38,355
2,3647,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan,Harlem,Private room,150,3,0,NaN,365
3,3831,Cozy Entire Floor of Brownstone,Brooklyn,Clinton Hill,Entire home/apt,89,1,270,4.64,194
4,5022,Entire Apt: Spacious Studio/Loft by central park,Manhattan,East Harlem,Entire home/apt,80,10,9,0.10,0
5,5099,Large Cozy 1 BR Apartment In Midtown East,Manhattan,Murray Hill,Entire home/apt,200,3,74,0.59,129
6,5121,BlissArtsSpace!,Brooklyn,Bedford-Stuyvesant,Private room,60,45,49,0.40,0
7,5178,Large Furnished Room Near B'way,Manhattan,Hell's Kitchen,Private room,79,2,430,3.47,220
8,5203,Cozy Clean Guest Room - Family Apt,Manhattan,Upper West Side,Private room,79,2,118,0.99,0
9,5238,Cute & Cozy Lower East Side 1 bdrm,Manhattan,Chinatown,Entire home/apt,150,1,160,1.33,188
10,5295,Beautiful 1br on Upper West Side,Manhattan,Upper West Side,Entire home/apt,135,5,53,0.43,6
11,5441,Central Manhattan/near Broadway,Manhattan,Hell's Kitchen,Private room,85,2,188,1.50,39
12,5803,"Lovely Room 1, Garden, Best Area, Legal rental",Brooklyn,South Slope,Private room,89,4,167,1.34,314
13,6021,Wonderful Guest Bedroom in Manhattan for SINGLES,Manhattan,Upper West Side,Private room,85,2,113,0.91,333
14,6090,West Village Nest - Superhost,Manhattan,West Village,Entire home/apt,120,90,27,0.22,0
15,6848,Only 2 stops to Manhattan studio,Brooklyn,Williamsburg,Entire home/apt,140,2,148,1.20,46
16,7097,Perfect for Your Parents + Garden,Brooklyn,Fort Greene,Entire home/apt,215,2,198,1.72,321
17,7322,Chelsea Perfect,Manhattan,Chelsea,Private room,140,1,260,2.12,12
18,7726,Hip Historic Brownstone Apartment with Backyard,Brooklyn,Crown Heights,Entire home/apt,99,3,53,4.44,21
19,7750,Huge 2 BR Upper East Cental Park,Manhattan,East Harlem,Entire home/apt,190,7,0,NaN,249
20,7801,Sweet and Spacious Brooklyn Loft,Brooklyn,Williamsburg,Entire home/apt,299,3,9,0.07,0
21,8024,CBG CtyBGd HelpsHaiti rm#1:1-4,Brooklyn,Park Slope,Private room,130,2,130,1.09,347
22,8025,CBG Helps Haiti Room#2.5,Brooklyn,Park Slope,Private room,80,1,39,0.37,364
23,8110,CBG Helps Haiti Rm #2,Brooklyn,Park Slope,Private room,110,2,71,0.61,304
24,8490,"MAISON DES SIRENES1,bohemian apartment",Brooklyn,Bedford-Stuyvesant,Entire home/apt,120,2,88,0.73,233
25,8505,Sunny Bedroom Across Prospect Park,Brooklyn,Windsor Terrace,Private room,60,1,19,1.37,85
26,8700,Magnifique Suite au N de Manhattan - vue Cloitres,Manhattan,Inwood,Private room,80,4,0,NaN,0
27,9357,Midtown Pied-a-terre,Manhattan,Hell's Kitchen,Entire home/apt,150,10,58,0.49,75
28,9518,"SPACIOUS, LOVELY FURNISHED MANHATTAN BEDROOM",Manhattan,Inwood,Private room,44,3,108,1.11,311
29,9657,Modern 1 BR / NYC / EAST VILLAGE,Manhattan,East Village,Entire home/apt,180,14,29,0.24,67
...,...,...,...,...,...,...,...,...,...,...
48865,36472171,1 bedroom in sunlit apartment,Manhattan,Inwood,Private room,80,1,0,NaN,79
48866,36472710,CozyHideAway Suite,Queens,Briarwood,Entire home/apt,58,1,0,NaN,159
48867,36473044,The place you were dreaming for.(only for guys),Brooklyn,Gravesend,Shared room,25,1,0,NaN,338
48868,36473253,Heaven for you(only for guy),Brooklyn,Gravesend,Shared room,25,7,0,NaN,365
48869,36474023,"Cozy, Sunny Brooklyn Escape",Brooklyn,Bedford-Stuyvesant,Private room,45,4,0,NaN,7
48870,36474911,"Cozy, clean Williamsburg 1- bedroom apartment",Brooklyn,Williamsburg,Entire home/apt,99,4,0,NaN,22
48871,36475746,A LARGE ROOM - 1 MONTH MINIMUM - WASHER&DRYER,Manhattan,Harlem,Private room,35,29,0,NaN,31
48872,36476675,Nycity-MyHome,Manhattan,Hell's Kitchen,Entire home/apt,260,3,0,NaN,9
48873,36477307,Brooklyn paradise,Brooklyn,Flatlands,Entire home/apt,170,1,0,NaN,363
48874,36477588,Short Term Rental in East Harlem,Manhattan,East Harlem,Private room,50,7,0,NaN,22
48875,36478343,Welcome all as family,Manhattan,East Harlem,Private room,140,1,0,NaN,180
48876,36478357,"Cozy, Air-Conditioned Private Bedroom in Harlem",Manhattan,Harlem,Private room,60,1,0,NaN,26
48877,36479230,Studio sized room with beautiful light,Brooklyn,Bushwick,Private room,42,7,0,NaN,16
48878,36479723,Room for rest,Queens,Elmhurst,Private room,45,1,0,NaN,172
48879,36480292,Gorgeous 1.5 Bdr with a private yard- Williams...,Brooklyn,Williamsburg,Entire home/apt,120,20,0,NaN,22
48880,36481315,The Raccoon Artist Studio in Williamsburg New ...,Brooklyn,Williamsburg,Entire home/apt,120,1,0,NaN,365
48881,36481615,"Peaceful space in Greenpoint, BK",Brooklyn,Greenpoint,Private room,54,6,0,NaN,15
48882,36482231,Bushwick _ Myrtle-Wyckoff,Brooklyn,Bushwick,Private room,40,20,0,NaN,31
48883,36482416,Sunny Bedroom NYC! Walking to Central Park!!,Manhattan,East Harlem,Private room,75,2,0,NaN,364
48884,36482783,Brooklyn Oasis in the heart of Williamsburg,Brooklyn,Williamsburg,Private room,190,7,0,NaN,341
48885,36482809,Stunning Bedroom NYC! Walking to Central Park!!,Manhattan,East Harlem,Private room,75,2,0,NaN,353
48886,36483010,Comfy 1 Bedroom in Midtown East,Manhattan,Midtown,Entire home/apt,200,6,0,NaN,176
48887,36483152,Garden Jewel Apartment in Williamsburg New York,Brooklyn,Williamsburg,Entire home/apt,170,1,0,NaN,365
48888,36484087,"Spacious Room w/ Private Rooftop, Central loca...",Manhattan,Hell's Kitchen,Private room,125,4,0,NaN,31
48889,36484363,QUIT PRIVATE HOUSE,Queens,Jamaica,Private room,65,1,0,NaN,163
48890,36484665,Charming one bedroom - newly renovated rowhouse,Brooklyn,Bedford-Stuyvesant,Private room,70,2,0,NaN,9
48891,36485057,Affordable room in Bushwick/East Williamsburg,Brooklyn,Bushwick,Private room,40,4,0,NaN,36
48892,36485431,Sunny Studio at Historical Neighborhood,Manhattan,Harlem,Entire home/apt,115,10,0,NaN,27
48893,36485609,43rd St. Time Square-cozy single bed,Manhattan,Hell's Kitchen,Shared room,55,1,0,NaN,2
48894,36487245,Trendy duplex in the very heart of Hell's Kitchen,Manhattan,Hell's Kitchen,Private room,90,7,0,NaN,23

In [3]:
#Predict price by room type
for room in ['Room_Type']:
    print("Unique Values in column: {}\n".format(room))
    print(df[room].value_counts(),'\n')

Unique Values in column: Room_Type

Entire home/apt    25409
Private room       22326
Shared room         1160
Name: Room_Type, dtype: int64

In [4]:
#Dealing with around 49,000 unique listings
df.shape

(48895, 10)

In [5]:
df.dtypes

ID                         int64
Name                      object
Borough                   object
Neighborhood              object
Room_Type                 object
Price                      int64
Minimum_Nights             int64
Num_of_Reviews             int64
Reviews_per_Month        float64
Days_Available_A_Year      int64
dtype: object

In [40]:
#Predict by room type for now, exclude borough and neighborhood
drop_locations = ["Name", "Borough", "Neighborhood","Reviews_per_Month", "Minimum_Nights", "Num_of_Reviews", "Days_Available_A_Year"]
no_location = df.drop(drop_locations, axis = 1)

#New dataframe with excluded columns
no_location = pd.DataFrame(no_location)

no_location[10:20]
#no_location[no_location['Room_Type']=='Private Room']

      ID        Room_Type  Price
10  5295  Entire home/apt    135
11  5441     Private room     85
12  5803     Private room     89
13  6021     Private room     85
14  6090  Entire home/apt    120
15  6848  Entire home/apt    140
16  7097  Entire home/apt    215
17  7322     Private room    140
18  7726  Entire home/apt     99
19  7750  Entire home/apt    190

In [43]:
# Import LabelEncoder
from sklearn import preprocessing

room_variable = no_location.iloc[:,1].values
# #creating labelEncoder
# le = preprocessing.LabelEncoder()
# # Converting string labels into numbers.
# room_encoded=le.fit_transform(no_location['Room_Type'])
# print(room_encoded)

room_variable[0:8]

array(['Private room', 'Entire home/apt', 'Private room',
       'Entire home/apt', 'Entire home/apt', 'Entire home/apt',
       'Private room', 'Private room'], dtype=object)

In [7]:
#Converting nominal features into numerical features requires encoding them as dummy variables

#Get the Dummy Variables

nominal_column = ["Room_Type"]
dummy_room = pd.get_dummies(no_location[nominal_column])

no_location = pd.concat([dummy_room, no_location], axis=1)
no_location = no_location.drop(nominal_column, axis=1)
no_location = pd.DataFrame(no_location)

no_location[10:20]

,Room_Type_Entire home/apt,Room_Type_Private room,Room_Type_Shared room,ID,Price
10,1,0,0,5295,135
11,0,1,0,5441,85
12,0,1,0,5803,89
13,0,1,0,6021,85
14,1,0,0,6090,120
15,1,0,0,6848,140
16,1,0,0,7097,215
17,0,1,0,7322,140
18,1,0,0,7726,99
19,1,0,0,7750,190

In [15]:
#Split into train and test variables

#Another dummy variable method we can use in case this one doesnt work out
## Ref: https://www.datacamp.com/community/tutorials/k-nearest-neighbor-classification-scikit-learn

#cant call dummy encoded columns
X = df.iloc[:,4].values
y = df.iloc[:,5].values

In [17]:
# # Splitting the dataset into the Training set and Test set
# from sklearn.model_selection import train_test_split
# X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.25, random_state = 0)

# # Feature Scaling
# from sklearn.preprocessing import StandardScaler
# sc = StandardScaler()
# X_train = sc.fit_transform(X_train)
# X_test = sc.transform(X_test)